.btn-custon {
  border: none;
  background-color: transparent;
}

.activeBtn {
  border-bottom: 2px solid #ffc107;
}

.noActiveForm {
  display: none;
}

#sfondoModal {
  background-color: rgba(249, 246, 238, 0.7);
  backdrop-filter: blur(6px);
} 