@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@400;700&display=swap');

nav {
    border-bottom: solid 2px black;
    background-color:  #ffff00;
}

.nav-logo {
    text-decoration: none;
}

.spectral {
    font-family: "Spectral SC", serif;
}

.nav-title {
    font-family: "Spectral SC", serif;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: 1.4rem;
}

.vertical-line {
    width: 2px;
    height: 50px;
    background-color: black;
}

.nav-link li {
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.nav-link a {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
    padding-bottom: 3px;
    padding-top: 3px;
    border-top: 3px solid transparent;
}

.nav-link a:hover,
.nav-link a.selected {
    border-bottom-color: #ea914d;
    transition: border-color 0.3s;
}

footer {
    border-top: solid 2px black;
    background-color:  #ffff00;
}

.footer-icon i {
    color: black;
    padding: 15px;
    font-size: 20px;
}

.text-footer {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    overflow-wrap: anywhere;
}

.text-footer a {
    text-decoration: none;
    color: black;
}

@media (max-width: 400px) {
    .nav-logo-img {
        height: 2rem;
    }

    .vertical-line {
        width: 1px;
        height: 35px;
    }

    .nav-title {
        font-size: 1rem;
    }

    .footer-icon i {
        padding: 8px;
        font-size: 15px;
    }

    .text-footer {
        font-size: 0.6rem;
    }
}